/* Base Styles -------------------- */

body {
  color: #878787;
  margin: 0;
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {  
  font-size: 5rem; /* 90px/16px  */
  color: rgba(255, 255, 255, 100);
  font-weight: normal;
  line-height: 1.3;
}

h2 {
  font-size: 3.3125em; /* 53px/16px  */
  font-weight: normal;
  line-height: 1.1;
  margin: 0 0 .5em; /* 0 0 26px */
}

/*h3 {
  font-size: 1.25em; /* 20px/16px  */
  
}
*/
/*
li {
  display: inline-block;
  padding: 0 12px;
  border-right: solid 1px;
  margin: 80px 0;
}
*/

/* Pseudo-classes ------------------ */

a:link {
  /*color: rgb(255, 169, 73);
  text-decoration: none;*/
}

a:visited {
  
}

a:hover {

}

a:active {
  
}

/* Main Styles --------------------- */
.text{
  margin-top: 100px;
  margin-left:100px;
}
.logo {
  display: block;
  max-width: 100%;
  margin: 0 auto 30px;
  
}

.intro {
  font-size: 1.25em; /* 20px/16px */
  line-height: 1.6;  
}

.primary-content{
  text-align: center;
  margin-top: 25px;
  border-bottom: 35px solid #99CCFF;
}
.primary-content p{
  font-size: 26px;
  text-align: center;
}

.form {
  max-width: 40%;
  margin-top: 50px;
  margin-left: 55%;
  text-align: center;
  background-color: #DCDCDC;
	padding-top: 50px;
	padding-bottom: 70px;
}


.slogan {

}

footer {
  margin:0;
  border-bottom: 30px solid #ffa949;
  text-align: center;
  border-color: #99CCFF;
}

/*#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}*/
#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  text-align: center;
  width: 45%;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: black;
}
#gallery li p{
  background-color: white;
  margin:0px;
}

#gallery li p.s1{
  font-size: 30px;
}

.error {
  color:#FF0000;
}

#special {
  color:#FF0000;
  font-size:0.8rem;
}











